<div class="self-service-grid" *ngIf="products">
    <div *ngFor="let product of products; let i = index"
         [ngClass]="'grid-card flash-' + i + ' ' + getClasses(i)">
        <h3>
            {{product.title}}<br/>
            {{orders[i].orderItems[0].options[0]}}
        </h3>
        <qrcode *ngIf="orders[i].paymentRequest"
                [qrdata]="orders[i].paymentRequest"
                [size]="qrCodeSize"
                level="L"
                [attr.title]="''">
        </qrcode>
        <div class="alert alert-danger" *ngIf="!orders[i].paymentRequest">
            Shop is currently closed for online orders. Please come back tomorrow!
        </div>
        <section>
            <div [class]="'picture ' + product.productKey.toLowerCase()"></div>
            <div class="price">
                <span class="unit">CHF</span>
                {{product.price | number : '1.2-2'}}
            </div>
        </section>
    </div>
    <div class="grid-card box">
        <div id="flash-receiver"></div>
        <h1 id="site-title">
            <img width="96" class="right" src="/content/icons/puzzle-itc.png"
                 alt="Puzzle ITC GmbH">
        </h1>
        <div class="info">
            <strong>
                Buy delicious beer and pay with Bitcoin over the
                Lightning Network <span class="lightning-bolt"></span>
            </strong>
            <br/>
            <ol>
                <li>Scan and pay one of the QR codes with your Lightning Network enabled wallet.</li>
                <li>Get your beer immediately.</li>
            </ol>
        </div>
        <div class="info-bottom">
            This is a project of <a href="https://www.puzzle.ch">Puzzle ITC GmbH</a>.
            <span *ngIf="orders[0].exchangeRate">
                The current exchange <br/>
                rate is <strong>{{orders[0].exchangeRate | number : '1.2-2'}} CHF/BTC</strong>.
                New QR codes with updated exchange rate in
                <span *ngIf="countdownSeconds < 20" class="danger">{{countdownSeconds}} seconds.</span>
                <span *ngIf="countdownSeconds >= 20">{{countdownSeconds}} seconds.</span>
            </span>
        </div>
    </div>
</div>
