<div *ngIf="invoices">
    <h2 id="page-heading">
        <span class="metrics-page-heading">Invoices</span>
        <button class="btn btn-primary float-right" (click)="loadAll()">
            <fa-icon icon="sync"></fa-icon>
            <span>Refresh</span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <form>
        <strong>Filter</strong>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="month">Month/Year</label>
                <select id="month" class="form-control" size="1" name="month" [(ngModel)]="filterMonth">
                    <option [ngValue]="null">All</option>
                    <option *ngFor="let month of months" [value]="month">
                        {{formatMonth(month)}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="type">Type</label>
                <select id="type" class="form-control" size="1" name="type" [(ngModel)]="filterType">
                    <option [ngValue]="null">All</option>
                    <option *ngFor="let type of types" [value]="type">
                        {{formatType(type)}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label>Flags</label>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="settled" [(ngModel)]="filterUnsettled" id="settled">
                    <label class="form-check-label" for="settled">Hide non-settled</label>
                </div>
            </div>
        </div>
    </form>
    <p>
        <span>Filtered: </span> <b>{{filteredInvoices.length}}</b> -
        <span>Total: </span> <b>{{invoices.length}}</b>
        <button class="btn float-right" (click)="excelExport()">
            <fa-icon icon="download"></fa-icon>
            <span>Export to Excel</span>
        </button>
    </p>
    <div class="table-responsive" *ngIf="invoices">
        <table class="table table-striped" id="tableExport">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Ref-ID</span></th>
                <th><span>Memo</span></th>
                <th><span>Delay minutes</span></th>
                <th><span>Items</span></th>
                <th class="text-right"><span>Total CHF</span></th>
                <th class="text-right"><span>Total Sat</span></th>
                <th class="text-right"><span>Exchange rate</span></th>
                <th><span>Settled</span></th>
                <th><span>Creation Date</span></th>
                <th><span>Settle Date</span></th>
                <th><span>Type</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of filteredInvoices; trackBy: trackId">
                <td><a [routerLink]="['/admin/admin/invoice', invoice.id, 'view' ]">{{invoice.id}}</a></td>
                <td>{{invoice.referenceIdShort}}</td>
                <td>{{invoice.memo}}</td>
                <td>{{invoice.pickupDelayMinutes === null ? '-' : invoice.pickupDelayMinutes}}</td>
                <td>{{numItems(invoice)}}</td>
                <td class="text-right">{{invoice.amountChf === 0 ? '-' : (invoice.amountChf | number : '1.2-2')}}</td>
                <td class="text-right">{{invoice.amount | number : '1.0-0'}}</td>
                <td class="text-right">{{invoice.exchangeRate == 0 ? '-' : (invoice.exchangeRate | number : '1.2-2')}}</td>
                <td>
                    <fa-icon [icon]="invoice.settled ? 'check' : 'ban'"></fa-icon>
                    <span class="sr-only">{{invoice.settled ? 'yes' : 'no'}}</span>
                </td>
                <td class="tableexport-string target">{{invoice.creationDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td class="tableexport-string target">{{invoice.settleDate | date:'HH:mm:ss'}}</td>
                <td>
                    <div *ngIf="invoice.invoiceType === 'SELF_ORDER'">
                        <fa-icon icon="th-large"></fa-icon>
                        <span class="sr-only">Self Order</span>
                    </div>
                    <div *ngIf="invoice.invoiceType === 'WEB_SHOP'">
                        <fa-icon icon="shopping-cart"></fa-icon>
                        <span class="sr-only">Web Shop</span>
                    </div>
                    <div *ngIf="invoice.invoiceType === 'DONATION'">
                        <fa-icon icon="donate"></fa-icon>
                        <span class="sr-only">Donation</span>
                    </div>
                    <div *ngIf="invoice.invoiceType === 'BEER_TAP'">
                        <fa-icon icon="beer"></fa-icon>
                        <span class="sr-only">Beer Tap</span>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/admin/admin/invoice', invoice.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon icon="eye"></fa-icon>
                            <span class="sr-only">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6" class="text-right">CHF {{filteredTotal | number : '1.2-2'}}</th>
                <th class="text-right">Sat {{filteredTotalSat | number : '1.0-0'}}</th>
                <th class="text-right">avg. {{filteredAvgRate | number : '1.2-2'}}</th>
                <th colspan="5"></th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
