<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2><span>Invoice</span> {{invoice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Reference Id</span></dt>
                <dd>
                    <span>{{invoice.referenceId}}</span>
                </dd>
                <dt><span>Memo</span></dt>
                <dd>
                    <span>{{invoice.memo}}</span>
                </dd>
                <dt *ngIf="invoice.pickupDelayMinutes"><span>Delay minutes</span></dt>
                <dd *ngIf="invoice.pickupDelayMinutes">
                    <span>{{invoice.pickupDelayMinutes}}</span>
                </dd>
                <dt><span>Items</span></dt>
                <dd>
                    <span>{{numItems(invoice)}}</span>
                </dd>
                <dt><span>Hash Hex</span></dt>
                <dd>
                    <span>{{invoice.hashHex}}</span>
                </dd>
                <dt><span>Preimage Hex</span></dt>
                <dd>
                    <span>{{invoice.preimageHex}}</span>
                </dd>
                <dt *ngIf="invoice.amountChf"><span>Total CHF</span></dt>
                <dd *ngIf="invoice.amountChf">
                    <span>{{invoice.amountChf | number : '1.2-2'}}</span>
                </dd>
                <dt><span>Total Sat</span></dt>
                <dd>
                    <span>{{invoice.amount | number : '1.0-0'}}</span>
                </dd>
                <dt *ngIf="invoice.exchangeRate"><span>Exchange rate</span></dt>
                <dd *ngIf="invoice.exchangeRate">
                    <span>{{invoice.exchangeRate | number : '1.2-2'}}</span>
                </dd>
                <dt><span>Settled</span></dt>
                <dd>
                    <fa-icon [icon]="invoice.settled ? 'check' : 'ban'"></fa-icon>
                </dd>
                <dt><span>Creation Date</span></dt>
                <dd>
                    <span>{{invoice.creationDate}}</span>
                </dd>
                <dt><span>Settle Date</span></dt>
                <dd>
                    <span>{{invoice.settleDate}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <div *ngIf="invoice.invoiceType === 'SELF_ORDER'">
                        <fa-icon icon="th-large"></fa-icon>
                        <span>Self Order</span>
                    </div>
                    <div *ngIf="invoice.invoiceType === 'WEB_SHOP'">
                        <fa-icon icon="shopping-cart"></fa-icon>
                        <span>Web Shop</span>
                    </div>
                    <div *ngIf="invoice.invoiceType === 'DONATION'">
                        <fa-icon icon="donate"></fa-icon>
                        <span>Donation</span>
                    </div>
                    <div *ngIf="invoice.invoiceType === 'BEER_TAP'">
                        <fa-icon icon="beer"></fa-icon>
                        <span>Beer Tap</span>
                    </div>
                </dd>
                <dt><span>Payment Request</span></dt>
                <dd>
                    <span>{{invoice.paymentRequest}}</span>
                </dd>
            </dl>

            <h3>Summary</h3>
            <table>
                <tbody>
                <tr *ngFor="let row of getSummary()">
                    <td [innerHTML]="row.text"></td>
                    <td align="right">CHF {{row.price | number : '1.2-2'}}</td>
                </tr>
                </tbody>
            </table>
            <br/><br/>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
