@import '../../content/scss/_bootstrap-variables';

.self-service-grid {
    display: grid;
    grid-template: repeat(8, [row] 1fr) / repeat(17, [col] 1fr);
    grid-gap: 1px;
    height: 480px;
    width: 100%;
    padding: 40px;
}

#flash-receiver {
    position: absolute;
    left: 0;
    top: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.grid-card {
    background-color: white;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 30px;
    position: relative;

    div.alert {
        text-align: center;
        padding: 40px;
    }

    /deep/ qrcode,
    div.alert {
        position: absolute;
        width: calc(100% - 60px);
        margin: 0 auto;

        img {
            margin: 0 auto;
        }
    }

    h3 {
        text-align: center;
        position: absolute;
        width: calc(100% - 60px);
        margin: 0;
        padding: 10px 0;
        color: $primary;
        text-transform: uppercase;
        font-size: 225%;
    }

    &.top-left,
    &.top-right {
        h3 {
            top: 290px;
        }

        qrcode,
        div.alert {
            top: 35px;
        }
    }

    .picture {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: url(/content/images/product-1.jpg) no-repeat 50% scroll;
        background-size: cover;
        transition: all 0.4s cubic-bezier(0.5, 0, 0, 1);
        transform: none;
        position: absolute;
        bottom: 0;
        left: 0;

        &.large_beer {
            background-image: url(/content/images/product-1.jpg);
        }

        &.small_beer {
            background-image: url(/content/images/product-2.jpg);
        }
    }

    .price {
        position: absolute;
        display: block;
        background-color: $price-color;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        font-weight: 400;
        color: white;
        text-align: center;
        font-size: 240%;
        line-height: 48px;
        left: 10px;
        bottom: 10px;

        .unit {
            line-height: 40px;
            font-size: 60%;
        }
    }
}

.one {
    grid-column: col 1 / span 8;
    grid-row: row 1 / span 8;
}

.two {
    grid-column: col 10/ span 8;
    grid-row: row 1 / span 8;
    background-color: $qrcode-bg;
}

.box {
    visibility: hidden;

    grid-column: col 5 / span 5;
    grid-row: row 2 / span 5;
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 30px 40px;

    #site-title {
        width: 100%;
        height: 96px;
        position: relative;
        .left {
            position: absolute;
            left: 0;
        }

        .middle {
            position: absolute;
            left: 140px;
            top: 4px;
        }

        .right {
            position: absolute;
            right: 0;
        }
    }

    div.info {
        padding: 30px 0 20px 0;
        font-size: 28px;
        font-weight: 400;
    }

    ol {
        margin-top: 5px;
        margin-bottom: 15px;
        padding-left: 30px;

        li {
            padding-left: 20px;
        }
    }

    .info-bottom {
        padding-top: 0;
        font-size: 110%;
    }
}
