<div class="self-service-grid">
    <div class="grid-card one top-left">
        <div id="flash-receiver"></div>
        <h1 id="site-title">
            <img width="96" class="right" src="/content/icons/puzzle-itc.png"
                 alt="Puzzle ITC GmbH">
        </h1>
        <section>
            <div [class]="'picture ' + product(0).type.toLowerCase()"></div>
            <div class="price">
                <span class="unit">CHF</span>
                {{product(0).price | number : '1.2-2'}}
            </div>
        </section>
    </div>

    <div class="grid-card two top-right">
        <h3>
            {{product(0).title}}<br/>
            {{orders[0].orderItems[0].options[0]}}
        </h3>
        <qrcode *ngIf="orders[0].paymentRequest"
                [qrdata]="orders[0].paymentRequest"
                [size]="qrCodeSize"
                level="L"
                [attr.title]="''">
        </qrcode>
        <div class="alert alert-danger" *ngIf="!orders[0].paymentRequest">
            Shop is currently closed for online orders. Please come back tomorrow!
        </div>
    </div>
</div>
