<div class="row justify-content-center">
    <div class="col-4">
        <div *ngIf="user">
            <h2>
                <span>User</span> [<b>{{user.login}}</b>]
            </h2>
            <dl class="row-md jh-entity-details">
                <dt><span>Login</span></dt>
                <dd>
                    <span>{{user.login}}</span>
                    <jhi-boolean
                        [value]="user.activated"
                        textTrue="Activated"
                        textFalse="Deactivated">
                    </jhi-boolean>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>{{user.firstName}}</dd>
                <dt><span>Last Name</span></dt>
                <dd>{{user.lastName}}</dd>
                <dt><span>Email</span></dt>
                <dd>{{user.email}}</dd>
                <dt><span>Created By</span></dt>
                <dd>{{user.createdBy}}</dd>
                <dt><span>Created Date</span></dt>
                <dd>{{user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
                <dt><span>Last Modified By</span></dt>
                <dd>{{user.lastModifiedBy}}</dd>
                <dt><span>Last Modified Date</span></dt>
                <dd>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
                <dt><span>Profiles</span></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li *ngFor="let authority of user.authorities">
                            <span class="badge badge-info">{{authority}}</span>
                        </li>
                    </ul>
                </dd>
            </dl>
            <button type="submit"
                    routerLink="../../"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="alert alert-danger" *ngIf="passwordError">
            <strong>{{passwordError}}</strong>
        </div>
        <div class="alert alert-success" *ngIf="passwordOk">
            <strong>Password changed successfully.</strong>
        </div>
        <form class="form" role="form" (ngSubmit)="changePassword()">
            <div class="form-group">
                <label class="username-label" for="password">Current password</label>
                <input type="password" class="form-control" name="oldPassword" id="oldPassword" placeholder="Current password"
                       [(ngModel)]="oldPassword">
            </div>
            <div class="form-group">
                <label class="username-label" for="password">New password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="New password"
                       [(ngModel)]="password">
            </div>
            <div class="form-group">
                <label for="password">Repeat new password</label>
                <input type="password" class="form-control" name="password2" id="password2" placeholder="Repeat new password"
                       [(ngModel)]="password2">
            </div>
            <button type="submit" class="btn btn-primary">Set new password</button>
        </form>
    </div>
</div>
